body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f7;
}

.container {
  width: 380px;
  margin: 70px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000020;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #005eff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0044cc;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.table-container {
  width: 90%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000020;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.delete-btn {
  background: red;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.back-btn {
  background: #555;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.back-btn:hover {
  background: #333;
}
